<div>
  Chatting with <%= conversation.with(current_user).full_name %>
  <br>
  <% if !conversation.messages.empty? %>
    <em><%= conversation.messages.last.body.truncate(50) %></em>
  <% else %>

  <% end %>
  <br>
  <%= link_to 'View conversation', conversation_path(conversation) %>
  <hr>
</div>
