// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colorRules";

.top-logo-container{
  margin-top: 3%;
}

.filters-container{
  display: inline;
  width: 60%;
  text-align: center;
  margin-left: 14%;
}

.index{
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

.prod-container{
  position: relative;
  display: inline-block;
  width: 49%;
  color: black;
}

.prod-show-left, .prod-show-right{
  display: inline-block;
  width: 49%;
  text-align: center;
}

.prod-show-right{
  position: absolute;
  top: 15%;
  left: 49%;
  text-align: left;
  margin-left: 7%;
}

.prod-show-right span{
  margin-left: 10%;
}

.prod-show-left span {
  font-size: 4em;
  float: left;
  margin-left: 3%;
}

.prod-show-left a {
  color: black;
}

.prod-show-left a:hover{
  text-decoration: none;
}

.prod-show-container{
  margin-top: 1%;
  position: relative;
}

.prod-show-right h3{
  display: inline-block;
}

.prod-show-desc{
  width: 66%;
}

.prod-show-right select{
  width: 25%;
  border-color: $odessuBlue;
}

.prod-show-qty{
  border: 1px solid $odessuBlue;
  border-radius: 5px;
  width: 25%;
  margin-left: 10%;
}

.index-add-to-cart{
  position: absolute;
  bottom: 19.5%;
  left: 10.5%;
  height: 200px;
  width: 370px;
  opacity: 0;
  background-color: white;
}

.prod-container:hover{
  .index-add-to-cart{
    opacity: 0.4;
  }

  #index-button{
    opacity: 1;
  }
}

#index-button{
  position: absolute;
  bottom: 32%;
  left: 33%;
  width: 150px;
  height: 50px;
  border: 1px solid $odessuBlue;
  border-radius: 5px;
  background-color: $odessuBlue;
  color: white;
  opacity: 0;
}

.contain{
  position: relative;
}

.index-filters{
  display: inline;
  position: absolute;
  // top: 1.5%;
  // left: -2%;
}
