@import 'colorRules';

.prof4-intro{
  text-align: center;
  color: red;
  font-size: 1.3em;
}

.shipping-info{
  margin-top: 4%;
  display: inline;
  width: 40%;
  float: right;
  margin-right: 8%;
}

.shipping-info h4{
  color: $odessuBlue;
  text-align: left;
  margin-left: 14%;
  margin-bottom: 5%;
}

.shipping-info input {
  border: none;
  border-bottom: 1px solid black;
  width: 350px;
  line-height: 3em;
  // font-weight: bold;
}

.shipping-info button{
  margin-left: 22%;
  margin-top: 4%;
}

.shipping-info input[type = checkbox]{
  width: 20px;
}

.shipping-info input[type = submit]{
  width: 150px;
}

.prof4-disclaimer{
  position: absolute;
  top: 26em;
  left: 8em;
  text-align: center;
  display: inline;
  width: 40%;
  // margin-left: 5%;
  font-size: 0.75em;
  // margin-bottom: 10%;
}

.prof4-disclaimer form {
  display: inline;
}

.prof4-content-container{
  position: relative;
}

.prof4-submit{
  text-align: center;
  color: white;
  background-color: $odessuBlue;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  position: absolute;
  top: 50em;
  left: 22em;
  margin-bottom: 4%;
}

.prof4-disclaimer input[type = checkbox]{
  text-align: left;
}
