@import 'colorRules';

.logotop{
  text-align: center;
  margin-bottom: 3%;
}

.prof1-intro{
  text-align: center;
  color: red;
  font-size: 1.3em;
}

hr{
  border-color: red;
  border-width: medium;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 1em;
}

.prof1-1st-row{
  margin: 0 8%;
  margin-bottom: 2%;
  text-align: center;
}

.prof1-1st-row input {
  border: none;
  border-bottom: 1px solid black;
  width: 100px;
}

.prof1-1st-row input[type = radio]{
  width: 20px;
}

.prof1-1st-row select{
  width: 100px;
  border: 1px solid $odessuBlue;
}

.first-row-content{
  display: inline;
  width: 28%;
  margin-right: 8%;
}

.prof1-2nd-row{
  text-align: center;
  margin: 0 8%;
  margin-left: 12%;
}

.second-row-content{
  display: inline;
  width: 28%;
  margin-right: 8%;
}

.prof1-2nd-row select{
  border: 1px solid $odessuBlue;
}

.second-row-content select:first-of-type{
  width: 200px;
}

.prof1-4th-row{
  text-align: center;
  margin: 0 8%;
  margin-left: 12%;
}

.prof1-4th-row select {
  width: 200px;
  margin-right: 4%;
  border: 1px solid $odessuBlue;
}

.prof1-next{
  text-align: center;
  color: white;
  background-color: $odessuBlue;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}

.prof1-submit-container{
  text-align: center;
}

.prof1-5th-row{
  text-align: center;
  margin: 0 8%;
  margin-bottom: 2%;
}

.prof1-5th-row input {
  border: none;
  border-bottom: 1px solid black;
  width: 100px;
}

.prof1-5th-row input[type = radio]{
  width: 20px;
}
