<%# f.label :body_shape, "Body Shape" %>
<%# f.select :body_shape, ['curvy', 'voluptous', 'straight', 'pear shaped'] %>

<span class="body_shape_img" name='curvy'><%= image_tag "11108207_10153950104708018_4015911373562687081_n.jpg" %></span>
<span class="body_shape_img" name='pear-shaped'><%= image_tag "11169810_829454987091368_8917594519609609474_n.jpg" %></span>

<button class="body_shape_save">Next</button>
